@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  text-align: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  gap: 20px;
  height: 100vh;
  outline: none;
  background-color: #000000;
  width: 100%;
  flex-wrap: wrap;
}
.box{
  background: fuchsia;
  padding: 10px 25px;
  margin-bottom: 50px;
  border-radius: 100px;
  box-shadow: 5px 5px 20px rgb(244, 0, 244);
}

.btn {
  padding: 10px 25px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 5px 5px 20px rgb(194, 2, 194);
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid fuchsia;
}